*{
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header header'
    'navbar navbar navbar navbar navbar navbar navbar'
    'sidebar sidebar main main main main main'
    'tips tips main main main main main'
    'tips tips links links links links links'
    'footer footer footer footer footer footer footer';
    gap: 5px 5px;
}


.grid-header{
    grid-area: header;

    padding: 25px;
    background-color: black;
    color: white;
}


.navbar {
    grid-area: navbar;
    background-color: gray;
    color: white;



.a {
    text-decoration: none;
}



.navbar > li{
    text-decoration: none;
}

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li{
    float: left;
}

ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;

}

ul li a:hover{
    background-color: #fff;
}



.sidebar{
    grid-area: sidebar;
    background-color: lightgrey;
    padding: 25px;


}

.sidebarImg{
    height:  200px;
    width: auto;

}

.main{
    grid-area: main;
    background-color: lightgrey;
    padding: 25px;
}


.tips{
    grid-area: tips;
    background-color: lightgrey;
    padding: 25px;
}

.links{
    grid-area: links;
    background-color: lightgrey;
    padding: 25px;
}

.footer{
    grid-area: footer;
    background-color: grey;
    padding: 25px;
}